.container_img {
  display: flex;
  justify-content: right;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  line-height: 50px;
}

.logo_1 {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;
  display: block;
  width: calc(100% - 20px);
  z-index: 5;
}

.img_game{
  align-items: center;
  justify-content: center;
}
/* 
.game_1 {

}
 */

