.type {
    width: 960px;
    margin: auto;
}

.nav::before {
    content: '';
    display: block;
    height: 50px;
    width: 35%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.btn {

    display: flex;
    justify-content: right;
}

.sss {
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: black;
}

.news {
    margin-left: auto;
    margin-right: auto;
}

.sss>ul{
    list-style: none;
    padding: 1em;
    margin: 0;
    border: 1px solid black;
    background-color: white;
}
.mainMenu, .mainMenu-content {
    position: absolute;
    min-inline-size: max-content;
}

.mainMenu{
    position: relative;
}

.mainMenu summary::-webkit-details-marker {
    display: none;
}

.mainMenu-content{
    border: 1px solid black;
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(36px);
    z-index: 1;
}

.sss summary {
    cursor: pointer;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}