.type{
    width: 960px;
    margin: auto;
}
.btn{

    text-align: right;
    padding: 0;
    margin: 0;
    list-style: none;
    
    
}
.nav::before{
    content: '';
    display: block;
    height: 50px;
    width: 35%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.sss{
    display: inline-block;
    float: right;
    padding: 0 30px;
   text-transform: uppercase;
   line-height: 50px;
   text-decoration: aliceblue; 
}

