/* .id{
    text-align: right;
} */

.btn{
    text-align: right
}

.sss{
    display: inline;
    margin-right: 5px;
}

.link  {
    text-transform: none;
    letter-spacing: normal;
}

.mainMenu{
    text-transform: none;
    letter-spacing: normal; 
}
