/* .id{
    text-align: right;
} */

.btn{
<<<<<<< HEAD
    text-align: right
}
=======
    text-align: right;
   
};
>>>>>>> 22276a7a30b03e7c0c394eb580b2d05b765cd02b

.sss{
    display: inline;
    margin-right: 5px;
    border: 1px solid blue;
}

.link  {
    text-transform: none;
    letter-spacing: normal;
}

.mainMenu{
    text-transform: none;
    letter-spacing: normal; 
}
